body {
    background: #181818;
    height: 100dvh;
    padding: 1rem;
    color: #fff;
}

#lobby_code {
    width: 4rem;
    color: #000;
    text-align: center;
}

canvas#cnv {
    width: min(720px, 100%);
    /*image-rendering: pixelated;*/
}

button {
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    background: rgb(204 204 204);
    color: #000;
}
button:hover {
    background: rgb(255 255 255);
}
button:active {
    background: rgb(153 153 153);
}
