body {
    background: #181818;
    height: 100dvh;
    padding: 1rem;
    color: #fff;
}

#lobby_code {
    width: 8rem;
    color: #000;
}

canvas#cnv {
    width: min(720px, 100%);
    /*image-rendering: pixelated;*/
}

button.button {
    appearance: none;
    background-color: #2ea44f;
    outline: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: monospace,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
button.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
button.button:hover {
    background-color: #2c974b;
}
button.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}
button.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
button.button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
